<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" opened class="drawer">
    <main-side-drawer></main-side-drawer>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <div class="container mx-auto md:px-40">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>