<div class="flex flex-col">
  <div class="my-14 animate__animated animate__backInDown">
    <h1 class="text-center font-bold text-4xl">.Dev</h1>
  </div>
  <div class="drawer-item py-4 px-10 flex items-center animate__animated animate__backInLeft">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <h3 class="text-xl inline-block my-0 ml-4">Home</h3>
  </div>
</div>